<html layout:decorate="~{base}">
	<div layout:fragment="content" class="container my-3">

		<div class="accordion" id="accordionExample">
		  <div class="accordion-item">
		    <h2 class="accordion-header">
		      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
		        CookBop이란?
		      </button>
		    </h2>
		    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
		      <div class="accordion-body">
		        <strong>CookBop</strong>은 간편하고 맛있는 한 끼를 제공하는 컵밥 브랜드입니다. <br>다양한 메뉴와 신선한 재료를 사용하여 언제 어디서나 쉽게 한 끼를 해결할 수 있습니다.
		      </div>
		    </div>
		  </div>
		  
		  <div class="accordion-item">
	          <h2 class="accordion-header">
	              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
	                  CookBop의 특징
	              </button>
	          </h2>
	          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
	              <div class="accordion-body">
	                  <strong>CookBop의 특징</strong>은 빠르고 간편한 조리가 가능한 컵밥입니다. 또한, 다양한 맛과 재료를 제공하여 고객의 취향을 만족시킬 수 있습니다.
	              </div>
	          </div>
	      </div>
	
	      <!-- 세 번째 아코디언 항목: 메뉴 소개 -->
	      <div class="accordion-item">
	          <h2 class="accordion-header">
	              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
	                  CookBop 메뉴 소개
	              </button>
	          </h2>
	          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
	              <div class="accordion-body">
	                  <strong>CookBop 메뉴</strong>에는 불고기, 제육볶음, 비빔밥 등 다양한 맛을 자랑하는 메뉴들이 있습니다. <br>각각의 메뉴는 신선한 재료와 최고의 맛을 제공합니다.
	              </div>
	          </div>
      	 </div>
	   </div>
		  
		  
		  
			
        <h1>Cook bop 맛있는 고민들!	</h1>
  		<h3>궁금한점을 글로 남겨보세요!	</h3>
		<table class="table">
		    <thead class="table-dark">
		        <tr>
					<th>번호</th>
		            <th>제목</th>
		            <th>작성일시</th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr th:each="question, loop  : ${questionList}">
					<td th:text="${question.id}"></td>
					<td>
					   <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
					</td>
		            <td th:text="${question.createDate}"></td>
		        </tr>
		    </tbody>
		</table>
		<a th:href="@{/question/create}" class="btn btn-primary">질문 등록하기</a>
	</div>
</html>