<html layout:decorate="~{base}">
<div layout:fragment="content">
	<!-- 헤더 -->
	<header class="header-container">
	    <div class="header-left">
	        <img src="/images/메인로고.JPG" alt="CookBop 이미지" class="header-image">
	    </div>
	    <div class="header-right">
			<div class="header-left">			    
			    <h2>경고! <br>아무런 생각없이 먹으면 배 터질 수 있음!</h2>
			</div>
			<div class="header-right-content">
			    <h1>CookBop - 중독적인 한식의 맛!</h1>
			    <p>당신만의 쿠밥을 선택하세요!</p>
			 </div>
	</header>

	    <!-- 카테고리 메뉴 -->
	    <div class="category-bar">
	        <div class="category-card">
	            <img src="/images/bulgogi.jpg" alt="불고기 컵밥">
	            <h5>불고기</h5>
	            <p>맛있고 고소한 불고기 컵밥</p>
	        </div>
	        <div class="category-card">
	            <img src="/images/제육컵밥.jpg" alt="제육볶음 컵밥">
	            <h5>제육볶음</h5>
	            <p>매콤한 제육볶음 컵밥</p>
	        </div>
	        <div class="category-card">
	            <img src="/images/양념치킨컵밥.jpg" alt="양념치킨 컵밥">
	            <h5>양념치킨컵밥</h5>
	            <p>달콤하면서 매콤한 치킨 컵밥</p>
	        </div>
	        <div class="category-card">
	            <img src="/images/비빔불고기컵밥.jpg" alt="비빔불고기 컵밥">
	            <h5>비빔불고기컵밥</h5>
	            <p>매콤하고 담백한 비빔 불고기컵밥</p>
	        </div>
	        <div class="category-card">
	            <img src="/images/반반컵밥.jpg" alt="반반 컵밥">
	            <h5>반반컵밥</h5>
	            <p>좋아하는 메뉴를 2가지를 반반 컵밥</p>
	        </div>
	    </div>
</div>
</html>
